/*
 * ===================================
 * ESTILOS DEL PANEL DE ADMINISTRADOR
 * ===================================
 */
body {
    display: flex;
    background-color: #111827; /* bg-gray-900 */
    color: #f3f4f6; /* text-gray-100 */
}
.admin-sidebar {
    width: 250px;
    background-color: #1f2937; /* bg-gray-800 */
    height: 100vh;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.3);
    position: fixed; /* Fijo en la pantalla */
}
.admin-sidebar h2 {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: white;
}
.admin-sidebar a {
    display: block;
    color: #d1d5db; /* text-gray-300 */
    padding: 12px 15px;
    text-decoration: none;
    border-radius: 8px;
    margin-top: 10px;
    transition: background 0.2s, color 0.2s;
}
.admin-sidebar a:hover {
    background-color: #e11d48; /* Color acento (rojo) */
    color: white;
}
.admin-sidebar form button {
    background: #4b5563; /* bg-gray-600 */
    color: white; 
    padding: 10px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    width: 100%;
    margin-top: 20px;
    transition: background 0.2s;
}
 .admin-sidebar form button:hover {
    background: #374151; /* bg-gray-700 */
 }

.admin-content {
    flex-grow: 1; /* Ocupa el resto del espacio */
    padding: 40px;
    height: 100vh;
    overflow-y: auto; /* Permite scroll */
    margin-left: 250px; /* Deja espacio para la barra lateral fija */
}